{% extends 'base.html' %}
{% block title %}
  <title> проекты</title>
{% endblock %}
{% block content %}
  {% load static %}
  <body>
    <main>
      {% for post in posts %}
        <ul>
          <li>
            Группа: {{ group.title }}
          </li>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:'d E Y' }}
          </li>
        </ul>
        <p>{{ post.text|linebreacksbr }}</p>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      </main>
    </body>
  {% endblock %}